## review

In [ ]:
import json
review = []
with open("bakery_review.json", 'r') as f:
    review = json.loads(f.read())
f.close()

In [11]:
len(review)

352960

In [23]:
import pandas as pd
rdf = pd.DataFrame.from_dict(review)

In [24]:
rdf[0:10]

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,ucFOnqgaV40oQ2YNyz5ddQ,JHXQEayrDHOWGexs0dCviA,KXCXaF5qimmtKKqnPc_LQA,1.0,0,0,0,Great coffee and pastries. Baristas are excell...,2018-03-03 23:45:25
1,lJ7rzbvT-l8KO8lHfEsXsg,LV1ME-ibA2h0IGyFUUWhaQ,H_RM2u1WWGU1HkKZrYq2Ow,5.0,0,0,0,Incredible donuts. Sometimes you have to go ea...,2017-08-07 19:34:13
2,m-9DK7NwYedIPj1RQ_sXdw,JuM-lH05m6Ln8OPUTg8p0g,H_RM2u1WWGU1HkKZrYq2Ow,5.0,0,0,0,"Dont bother going to voodoo, just come here in...",2016-09-18 17:06:01
3,oL2y3mXe_qab349DPW6uZg,4cDqW9sWnZ57tsIEiElJWw,0nMbLN0B5I-2tNnQLSo86w,5.0,4,4,4,"""Even the mad Captain Ahab is touched by Starb...",2017-12-02 19:41:59
4,3jP94-9GxXNmH4r4TcggBg,lljqZVYkVdfLvjaaCWVIQQ,H_RM2u1WWGU1HkKZrYq2Ow,5.0,0,0,0,Wow!!! Absolutely the BEST donuts I've EVER ha...,2017-04-07 22:44:08
5,QWcw7V00E0PGPTS4qJ2NJQ,E-xaldDut3-Z2uVe2-svMw,G-mqbRnV9rX5Nf2NK4tJRA,1.0,1,0,0,I went to do my usual grocery shopping this ev...,2018-08-04 22:59:04
6,pEUPD5fqKX2_VlQCh6palg,SLqeSHh2uHSW4Ok1G9H_3g,H_RM2u1WWGU1HkKZrYq2Ow,5.0,0,0,0,This is a place to be in the morning while vis...,2017-08-16 04:52:34
7,x3jEi6OvLNvsfm89iu7RhQ,4wj4nUwA8-ZiKobMxFdK5g,JhSoyaXFf9xUfvow263gug,4.0,0,0,0,Delicious shirini (sweets) and the best napole...,2013-05-07 02:18:45
8,-jpraD6xsG0yQi6AOWHjQQ,7Rbz2o3mjr9igDKYf4KcDw,AFhbVnKpqV4CZYkM3hfEIQ,4.0,0,0,0,"If you haven't been to, eaten, or heard of Tif...",2018-02-23 23:02:52
9,eTbpqXA-oZz0yWYcmrfJ6g,3-DziuDabhS38a2VzYywiA,N9f8XoP3Q019I2ph6-_aLA,2.0,0,0,0,I'm less than impressed with Sweet. Like sever...,2010-08-20 21:56:56

## business

In [405]:
import json
business = []
with open("bakery_business.json", 'r') as f:
    business = json.loads(f.read())
f.close()

In [406]:
len(business)

3427

In [407]:
att = []
for item in business:
    att.append(item['attributes'])

In [408]:
att_without_none = []
for item in att:
    if item is None:
        item = {'attributes': '0'}
    else:
        item['attributes'] = '1'
    att_without_none.append(item)

In [409]:
att_without_none[155:157]

[{'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}",
  'BusinessAcceptsCreditCards': 'True',
  'RestaurantsPriceRange2': '2',
  'attributes': '1'},
 {'attributes': '0'}]

In [410]:
import pandas as pd
att_df = pd.DataFrame.from_dict(att_without_none)

In [411]:
for col in att_df.columns:
    print(att_df[col].dropna().head())
# BusinessParking, Ambience, GoodForMeal, music, Bestnights, DietaryRestrictions

0    {'garage': False, 'street': False, 'validated'...
1    {'garage': False, 'street': False, 'validated'...
2    {'garage': False, 'street': False, 'validated'...
3    {'garage': False, 'street': True, 'validated':...
4    {'garage': False, 'street': False, 'validated'...
Name: BusinessParking, dtype: object
0    False
2     True
3     True
4     True
5     True
Name: RestaurantsDelivery, dtype: object
0    True
1    True
2    True
4    True
5    True
Name: BusinessAcceptsCreditCards, dtype: object
0    1
1    2
2    2
4    2
5    2
Name: RestaurantsPriceRange2, dtype: object
0     False
3     False
9     False
12    False
13    False
Name: DogsAllowed, dtype: object
0       u'quiet'
4     u'average'
6     u'average'
11      u'quiet'
20    u'average'
Name: NoiseLevel, dtype: object
0    True
1    True
2    True
3    True
4    True
Name: RestaurantsTakeOut, dtype: object
0     True
1    False
2     True
4     True
6     True
Name: Caters, dtype: object
0     True
1     True
2     True
3    False
4     True
Name: BikeParking, dtype: object
0    1
1    1
2    1
3    1
4    1
Name: attributes, dtype: object
2     False
11    False
12    False
40    False
42    False
Name: HappyHour, dtype: object
3     True
9     True
11    True
12    True
13    True
Name: WheelchairAccessible, dtype: object
4      True
6      True
10     True
11    False
12     True
Name: OutdoorSeating, dtype: object
4      True
6      True
11     True
12     True
25    False
Name: RestaurantsGoodForGroups, dtype: object
4              'none'
6     'beer_and_wine'
11            u'none'
12             'none'
25            u'none'
Name: Alcohol, dtype: object
4     False
6     False
11    False
12    False
15    False
Name: RestaurantsReservations, dtype: object
4     {'touristy': False, 'hipster': False, 'romanti...
6     {'romantic': False, 'intimate': False, 'classy...
11    {'romantic': False, 'intimate': False, 'touris...
12    {'touristy': False, 'hipster': False, 'romanti...
25    {'touristy': False, 'hipster': True, 'romantic...
Name: Ambience, dtype: object
4     True
6     True
11    True
12    True
25    True
Name: GoodForKids, dtype: object
4      True
6      True
11     True
12    False
25     True
Name: HasTV, dtype: object
4      'casual'
6      'casual'
11    u'casual'
12     'casual'
25    u'casual'
Name: RestaurantsAttire, dtype: object
4      True
37    False
53    False
55    False
61     True
Name: DriveThru, dtype: object
4      'free'
6     u'free'
10    u'free'
11    u'free'
12    u'free'
Name: WiFi, dtype: object
6     False
16    False
33    False
40    False
53    False
Name: ByAppointmentOnly, dtype: object
6     {'dessert': False, 'latenight': False, 'lunch'...
11    {'dessert': True, 'latenight': False, 'lunch':...
12    {'dessert': False, 'latenight': False, 'lunch'...
25    {'dessert': True, 'latenight': False, 'lunch':...
32    {'dessert': True, 'latenight': False, 'lunch':...
Name: GoodForMeal, dtype: object
6     False
9     False
12    False
27    False
40    False
Name: BusinessAcceptsBitcoin, dtype: object
11     True
12    False
30    False
32     True
37    False
Name: RestaurantsTableService, dtype: object
33     False
73     False
86     False
93     False
127    False
Name: Corkage, dtype: object
33     'no'
70     'no'
73     'no'
93     'no'
121    'no'
Name: BYOBCorkage, dtype: object
40          u'no'
151    u'outdoor'
386         u'no'
420         u'no'
426         u'no'
Name: Smoking, dtype: object
40     False
110    False
121    False
151    False
386    False
Name: CoatCheck, dtype: object
40     {'dj': False, 'background_music': True, 'no_mu...
53     {'dj': False, 'background_music': False, 'no_m...
121    {'dj': False, 'background_music': False, 'no_m...
151    {'dj': False, 'background_music': False, 'no_m...
386    {'dj': None, 'background_music': False, 'no_mu...
Name: Music, dtype: object
40     {'monday': False, 'tuesday': False, 'friday': ...
53     {'monday': False, 'tuesday': False, 'friday': ...
121    {'monday': True, 'tuesday': False, 'friday': T...
151    {'monday': False, 'tuesday': False, 'friday': ...
390    {'monday': False, 'tuesday': False, 'friday': ...
Name: BestNights, dtype: object
40     False
53     False
121    False
151    False
390    False
Name: GoodForDancing, dtype: object
86     False
109    False
195    False
255    False
310    False
Name: BYOB, dtype: object
615     {'dairy-free': False, 'gluten-free': True, 've...
739     {'dairy-free': False, 'gluten-free': False, 'v...
1353    {'dairy-free': False, 'gluten-free': True, 've...
1700    {'dairy-free': False, 'gluten-free': False, 'v...
Name: DietaryRestrictions, dtype: object
2170     True
2689     True
3402    False
Name: AcceptsInsurance, dtype: object
2239    False
Name: Open24Hours, dtype: object

In [412]:
#att_df = att_df.drop(columns = ['BusinessParking', 'Ambience', 'GoodForMeal', 'Music', 'BestNights', 'DietaryRestrictions'])

In [413]:
BP = []
import ast
for item in att:
    try:
        if item['BusinessParking'] == 'None':
            BP.append({"BusinessParking": 0})
        else:
            valid = item['BusinessParking'].replace("\'", "\"")
            BP.append(ast.literal_eval(valid))
            BP[-1]['BusinessParking'] = 1
    except:
        BP.append({"BusinessParking": 0})

BP_df = pd.DataFrame.from_dict(BP)
#BP_df

In [414]:
 A = []
import ast
for item in att:
    try:
        if item['Ambience'] == 'None':
            A.append({"Ambience": 0})
        else:
            valid = item['Ambience'].replace("\'", "\"")
            A.append(ast.literal_eval(valid))
            A[-1]['Ambience'] = 1
    except:
        A.append({"Ambience": 0})

A_df = pd.DataFrame.from_dict(A)
#A_df

In [415]:
M = []
import ast
for item in att:
    try:
        if item['Music'] == 'None':
            M.append({"Music": 0})
        else:
            valid = item['Music'].replace("\'", "\"")
            M.append(ast.literal_eval(valid))
            M[-1]['Music'] = 1
    except:
        M.append({"Music": 0})

M_df = pd.DataFrame.from_dict(M)
#M_df

In [416]:
GFM = []
import ast
for item in att:
    try:
        if item['GoodForMeal'] == 'None':
            GFM.append({"GoodForMeal": 0})
        else:
            valid = item['GoodForMeal'].replace("\'", "\"")
            GFM.append(ast.literal_eval(valid))
            GFM[-1]['GoodForMeal'] = 1
    except:
        GFM.append({"GoodForMeal": 0})

GFM_df = pd.DataFrame.from_dict(GFM)
#GFM_df

In [417]:
BN = []
import ast
for item in att:
    try:
        if item['BestNights'] == 'None':
            BN.append({"BestNights": 0})
        else:
            valid = item['BestNights'].replace("\'", "\"")
            BN.append(ast.literal_eval(valid))
            BN[-1]['BestNights'] = 1
    except:
        BN.append({"BestNights": 0})

BN_df = pd.DataFrame.from_dict(BN)
#BN_df

In [418]:
DR = []
import ast
for item in att:
    try:
        if item['DietaryRestrictions'] == 'None':
            DR.append({"DietaryRestrictions": 0})
        else:
            valid = item['DietaryRestrictions'].replace("\'", "\"")
            DR.append(ast.literal_eval(valid))
            DR[-1]['DietaryRestrictions'] = 1
    except:
        DR.append({"DietaryRestrictions": 0})

DR_df = pd.DataFrame.from_dict(DR)
#DR_df

In [422]:
hours = []
for item in business:
    if item['hours'] is not None:
        hours.append(item['hours'])
        hours[-1]['hours'] = 1
    else:
        hours.append({"hours": 0})

In [423]:
hours_df = pd.DataFrame.from_dict(hours)

In [424]:
hours_df

,Tuesday,Wednesday,Thursday,Friday,Saturday,hours,Monday,Sunday
0,11:0-18:0,11:0-18:0,11:0-18:0,11:0-18:0,11:0-18:0,1,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
2,10:0-17:0,10:0-17:0,10:0-17:0,10:0-17:0,10:0-17:0,1,0:0-0:0,12:0-17:0
3,10:0-20:0,10:0-20:0,10:0-20:0,10:0-20:0,10:0-20:0,1,10:0-20:0,10:0-20:0
4,6:0-21:0,6:0-21:0,6:0-21:0,6:0-21:0,7:0-21:0,1,6:0-21:0,7:0-21:0
...,...,...,...,...,...,...,...,...
3422,9:0-21:0,9:0-21:0,9:0-20:0,9:0-21:0,9:0-21:0,1,9:0-21:0,9:0-21:0
3423,6:0-21:0,6:0-21:0,6:0-21:0,6:0-21:0,6:0-21:0,1,6:0-21:0,7:0-20:0
3424,6:0-20:0,6:0-20:0,6:0-20:0,6:0-20:0,6:0-20:0,1,6:0-20:0,6:0-20:0
3425,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
3426,9:0-15:0,7:0-17:0,7:0-17:0,7:0-17:0,9:0-15:0,1,0:0-0:0,NaN

In [425]:
import pandas as pd
bdf = pd.DataFrame.from_dict(business)

In [426]:
bdf = bdf.drop(columns = ['attributes', 'hours'])
att_df = att_df.drop(columns = ['BusinessParking', 'Ambience', 'GoodForMeal', 'Music', 'BestNights', 'DietaryRestrictions'])

In [428]:
business_df = pd.concat([bdf, hours_df, att_df, BP_df, A_df, M_df, GFM_df, BN_df, DR_df], axis=1)

In [429]:
business_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,sunday,saturday,DietaryRestrictions,dairy-free,gluten-free,vegan,kosher,halal,soy-free,vegetarian
0,ufCxltuh56FF4-ZFZ6cVhg,Sister Honey's,247 E Michigan St,Orlando,FL,32806,28.513265,-81.374707,4.5,135,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BFd5KnVmxkFH3WjbydJI3Q,Sam's Club,355 State Rd 436,Fern Park,FL,32730,28.655695,-81.337257,3.0,21,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q2vefh0tGhtCGQDK1FI7cw,Piece of Cake,3215 Roswell Rd NE,Atlanta,GA,30305,33.842875,-84.378539,4.0,231,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9UbSRTD_Ly2AlJ1hjEt4TA,Uncle Tetsu's Japanese Cheesecake,1151 Robson Street,Vancouver,BC,V6E 1B5,49.285464,-123.125939,4.0,5,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bBNCUzEJZn8ASQ5LNWOHEg,Panera Bread,1334 Park St,Stoughton,MA,02072,42.101801,-71.066536,2.5,55,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3422,Je0MNZ6Q9GnFmB5vS6UBhw,Sweet Hut Bakery & Cafe,"5150 Buford Hwy, Ste A-100",Doraville,GA,30340,33.893407,-84.284357,4.0,994,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3423,8n2Lbxf8ts89_OxvXLURiA,Panera Bread,782 N State St,Westerville,OH,43082,40.145540,-82.922492,3.0,30,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3424,QUW0hcUc42rzCZkRllHGIQ,COBS Bread,2924 Main Street,Vancouver,BC,V5T 3G3,49.258872,-123.100809,4.0,20,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3425,cDA3nKRBdx4IH_hAYGtcVg,The Early Bird Food Truck,,Columbus,OH,43201,40.006611,-83.002972,5.0,7,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3426,QMJ0uaY73v6OX2Wr5emEwg,Dudley Cafe,15 Warren St,Roxbury,MA,02119,42.330008,-71.083464,4.0,68,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## tip

In [29]:
import json
tip = []
with open("bakery_tip.json", 'r') as f:
    tip = json.loads(f.read())
f.close()

In [30]:
len(tip)

52870

In [31]:
import pandas as pd
tdf = pd.DataFrame.from_dict(tip)

In [32]:
tdf[0:5]

,user_id,business_id,text,date,compliment_count
0,g3HFkZgloxLQCvoJ5Zs5gg,OQ2oHkcWA8KNC1Lsvj1SBA,Water Ave coffee served here--& @ L Jeans!,2018-03-22 15:28:09,0
1,cpCfHpe9nz75MrNk6THyxA,2fkTxtF59cYdktacQ6-axg,"Good food, nicely priced and great service. Fr...",2013-02-04 06:49:01,0
2,-idPg_CrUNFx1xAC6yiZjQ,7d3IefhfwjcbTF-UyrBy4A,French Dessert! Love my chocolate!,2012-07-25 04:15:23,0
3,zDUHJqMoMxHN8SWhDvU1_A,5X33h0pMY2iEY8oAJjH7ng,They have some awesome coffee and baked goods,2015-01-24 14:53:48,0
4,ayF5zFFro_QWrus2dST5_A,MADRGH3ARSyCg2a4xk99PA,Breakfast buns are the bomb! Sometimes I drive...,2010-11-23 07:30:16,0

## save as csv

In [430]:
business_df.to_csv('bakery_business.csv', index=False)

In [36]:
rdf.to_csv('bakery_review.csv', index=False)

In [37]:
tdf.to_csv('bakery_tip.csv', index=False)